<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    </ol>
</nav>
{{!-- user-{{users.length}}<br/> --}}
{{devices}}
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary bg-light-black shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Devices</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_count}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hdd fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success bg-light-black shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Activated Devices</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ assign_count }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hdd fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info bg-light-black shadow h-100 py-2">
            <div class="card-body">

                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Activated Devices</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unassign_count }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hdd fa-2x text-gray-300"></i>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning bg-light-black shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Users</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{no_of_users}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{{!-- <div class="card">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary">Socket Test</h5>
                        <div class="form-group">
                            <label for="device_id">Device Id:</label>
                            <input class="form-control" type="text" id="device_id" placeholder="Device Id">
                        </div>

                        <div class="form-group">
                            <label for="temperature">Temperature:</label>
                            <input class="form-control" type="number" id="temperature" placeholder="Temperature">
                        </div>

                        <div class="form-group">
                            <label for="humidity">Humidity</label>:
                            <input class="form-control" type="number" id="humidity" placeholder="Humidity">
                        </div>

                        <div class="form-group">
                            <label for="door_lock">Door Lock:</label>
                            <input class="form-control" type="number" id="door_lock" placeholder="Door Lock">
                        </div>

                        <div>
                            <button id="saveBtn" class="btn btn-primary btn-block">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}