<script type="text/javascript">
    function confirm_delete() {
    return confirm('are you sure?');
    }
</script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users List</li>
    </ol>
</nav>

<div class="mt-5 mb-5">
    <table id="userDeviceList" class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Devices</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr class="odd gradeX">
                <td>{{ name }}</td>
                <td>{{ phone }}</td>
                <td>{{ email }}</td>
                <td>{{ address }}</td>
                <td>{{ devices.length }}</td>
                <td class="center">
                    <a href="/admin/{{ _id }}/viewuser" class="btn btn-sm btn-primary" title="View User"><i class="fas fa-eye"></i></a>
                    <a href="/admin/{{ _id }}/deleteuser" class="btn btn-sm btn-danger" onclick="return confirm_delete()" title="Delete User"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>User Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Devices</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
</div>